
html {font-size: 100%;} /*16px*/
}

body {
  background-color: white;
  font-family: ibm-plex-sans, sans-serif;
  font-weight: 400;
  color: #333;
}

.author {
  font-family: ibm-plex-sans, sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 72px;
  margin-left: 0em;
  margin-bottom: 0.5em;
}

p{
  font-family: ibm-plex-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 144px;
  margin-left: 144px;
  margin-bottom: 1em;
  font-size: 36px;
  line-height: 135%;
}

h2 {
  font-family: ibm-plex-sans, sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 3.25em;
  line-height: 0.94;
  margin-right: 2.70em;
  margin-left: 2.7em;
  margin-top: 0.95em;
  margin-bottom: 1.05em;
  line-height: 135%;
}
